
body {
    height:100%; 
    width:95%; 
    margin: 0px; 
    background-image: url("fundo.png");
     
 } 


h1{
	font-family: "Times New Roman", "Arial", serif;

} 

footer { 
    background: rgb(197,222,234); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size : 40% 65px; 
    background-color: #000080;
    color: #FFF;
    padding: 0.2em; 
    border-bottom: .2rem solid #000
} 


.rodape-pagina {
    background-color: rgba(0, 0, 0, 0.8);
    color:#F2FFFC;
    padding: 0.2rem;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    height:auto
    box-sizing: border-box; 



}

